/*
 * Globals
 */
a,
a:focus,
a:hover {
  color: #fff;
}

.btn-default {
  color: #fff;
  text-shadow: none;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 0.5rem 2rem;
}

.btn-default:hover,
.btn-default:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
}

body {
  background: url(../images/cover.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: rgb(34, 42, 58);
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.site-wrapper {
  background: rgba(0, 0, 0, .3);
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-masthead {
  text-align: center;
  display: block;
}

.nav-masthead .nav-link {
  display: inline-block;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 20px;
}

.cover .btn-notify {
  padding: 10px 60px;
  font-weight: 500;
  border-radius: 40px;
}

.cover-heading {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .cover-heading {
    font-size: 2.8rem;
    letter-spacing: 15px;
  }
}

.cover-copy {
  margin: 0 auto 5rem;
}

/*
 * Footer
 */
.mastfoot {
  color: #999;
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1060px;
  }
}
